body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

header button {
  background-color: #fd7979;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

header button:hover {
  background-color: #e63939;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.actions button {
  background-color: #667045;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.actions button:hover {
  background-color: #667045d0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #667045;
  color: white;
}

.pagination {
  text-align: center;
}

.pagination button {
  background-color: #667045;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #667045d0;
}

table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
